@using KYSv2.Models;
@model IzinTalebi
@{
    ViewBag.Title = "Widgets";
    Layout = "~/Views/Shared/_Layout.cshtml";

        KYSEntities ent = new KYSEntities();
        var model = ent.IzinTalebi.ToList();
    
}


@if (ViewBag.ReturnCode != null)
{
    if (ViewBag.ReturnCode == 0)
    {
        <script type="text/javascript">
            $document

            bootbox.confirm({

                size: "small",
                message: "Are you sure?",
                callback: function (result) { /* result is a boolean; true = OK, false = Cancel*/ }
            })

        </script>
    }
}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">




    <div class="panel-heading">
        İzin Talep Formu
    </div>
    <div class="panel-body">
        @using (@Html.BeginForm("Gonder", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()


            <!-- Name input-->
            <div class="form-group">
                @Html.Label("Personel Adı")
                @Html.TextBoxFor(m => m.userFirstName, new { @class = "form-control", @placeholder = "Ad Giriniz." })

            </div>

            <!-- Surname input-->
            <div class="form-group">
                <div class="form-group">
                    @Html.Label("Personel Soyadı")
                    @Html.TextBoxFor(m => m.userLastName, new { @class = "form-control", @placeholder = "Soyad Giriniz." })
                </div>

            </div>

            <!-- Email input-->
            <div class="form-group">
                @Html.Label("Personel Mail Adresi")
                @Html.TextBoxFor(m => m.userEmail, new { @class = "form-control", @placeholder = "Email Giriniz." })
            </div>

            <!-- Message body -->
            <div class="form-group">
                @Html.Label("Lutfen mesajinizi giriniz")
                @Html.TextBoxFor(m => m.Message, new { @class = "form-control", @placeholder = "Mesajiniz" })

            </div>
            @Html.HiddenFor(m => m.IzinID)
            @Html.HiddenFor(m => m.UserID)

            <!-- Form actions -->
            <div class="form-group">
                <div class="col-md-12 widget-right">
                    <button type="submit" class="btn btn-default btn-md pull-right">Gönder</button>
                </div>
            </div>

        }

    </div>
</div>

<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/chart.min.js"></script>
<script src="js/chart-data.js"></script>
<script src="js/easypiechart.js"></script>
<script src="js/easypiechart-data.js"></script>
<script src="js/bootstrap-datepicker.js"></script>
<script src="js/custom.js"></script>